extends layout
block content
  include quotes
  mixin story(name,file)
    - var norm = name.split(' ')[0]+name[name.length-1]
    div(class="panel-heading",role="tab", id="heading_#{norm}")
      h1(class="panel-title")
        a(data-toggle="collapse" data-parent="#accordion" href="##{norm}" aria-expanded="true" aria-controls="#{norm}")!= "<h3>"+name.replace(/_/g," ")+"</h3>"
      div(id="#{norm}", class="panel-collapse collapse" role="tabpanel" aria-labelledby="#heading_#{norm}")
        div(class="panel-body")!=file
  
  if title == "Collaborative"
    div(align="center",class="jumbotron",style="padding-bottom:20px")
      h1=title
      p= quote[title]
      p!= "--"+sources[title]
  else
    div(align="center",class="jumbotron")
      h1=title
      p= quote[title]
      p!= "--"+sources[title]
  
  div(align = "center", class="panel-group" id="accordion" role="tablist" aria-multiselectable="true")
    div(class="panel panel-default")
      each val, index in stories
        +story(index,val)
  +pics()    

  

      
